.cache/
*.cache/
.hw/
*.hw/
.ip_user_files/
*.ip_user_files/
.runs/
*.runs/
.sim/
*.sim/
.gen/
*.gen/
**/utils_1/**
**/ip/**
*.jou
*.log
*.str
*.backup.log
bit/
build/
__pycache__/
*.pyc
ip_repo/
lib/
.Xil/
output/
.DS_Store
Thumbs.db
